<div class="row some-top">
	<div class="col-lg-8">
		<div *ngIf="editItem && editItem.rigaDigitataList">
			<app-document-detail [editItem]="editItem" [aliquotaIvaList]="aliquotaIvaList" [contoList]="contoList" [titoloInapplicabilitaList]="titoloInapplicabilitaList"
			 [voceIvaList]="voceIvaList" (onChange)="inputChange($event)" (isValid)="isDocumentValid($event)"> </app-document-detail>
			<ul class="cleanList">
				<li *ngFor="let doc of (documentoEffetti$ | async)">
					<app-document-detail class="docEffettiComponent" [editItem]="doc" [aliquotaIvaList]="aliquotaIvaList" [contoList]="contoList"
					 [titoloInapplicabilitaList]="titoloInapplicabilitaList" [voceIvaList]="voceIvaList" (onChange)="inputChangeEffetto($event)"
					 (isValid)="isDocumentValidEffetto($event)">
					</app-document-detail>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-4">
		<mat-card class="effects">
			<mat-card-title>Effetto conto</mat-card-title>
			<mat-card-content>
				<mat-table #table [dataSource]="dataSourceEffettoConto">

					<ng-container matColumnDef="rigaDigitataId">
						<mat-header-cell *matHeaderCellDef>Id Riga Digitata</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.rigaDigitataId}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="contoDareId">
						<mat-header-cell *matHeaderCellDef>Conto Dare</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getContoDescription(element.contoDareId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="contoAvereId">
						<mat-header-cell *matHeaderCellDef>Conto Avere</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getContoDescription(element.contoAvereId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="valore">
						<mat-header-cell *matHeaderCellDef>Valore</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.valore}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="variazioneFiscale">
						<mat-header-cell *matHeaderCellDef>Variazione</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.variazioneFiscale}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="riferimentoEffettoId">
						<mat-header-cell *matHeaderCellDef>RiferimentoEffetto Id</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.riferimentoEffettoId}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsEffettoConto"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumnsEffettoConto;"></mat-row>

				</mat-table>
			</mat-card-content>
		</mat-card>
		<mat-card class="some-top effects">
			<mat-card-title>Effetto IVA</mat-card-title>
			<mat-card-content>
				<mat-table #table [dataSource]="dataSourceEffettoIva">

					<ng-container matColumnDef="rigaDigitataId">
						<mat-header-cell *matHeaderCellDef>Id Riga Digitata</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.rigaDigitataId}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="voceIvaId">
						<mat-header-cell *matHeaderCellDef>Voce IVA</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getVoceIvaDescription(element.voceIvaId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="trattamento">
						<mat-header-cell *matHeaderCellDef>Trattamento</mat-header-cell>
						<mat-cell *matCellDef="let element">{{trattamento[element.trattamento]}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="titoloInapplicabilita">
						<mat-header-cell *matHeaderCellDef>Titolo Inapplicabilita</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getTitoloInapplicabilitaDescription(element.titoloInapplicabilita)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="aliquotaIvaId">
						<mat-header-cell *matHeaderCellDef>Aliquota</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getAliquotaDescription(element.aliquotaIvaId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="imponibile">
						<mat-header-cell *matHeaderCellDef>Imponibile</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.imponibile}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="iva">
						<mat-header-cell *matHeaderCellDef>Iva</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.iva}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="riferimentoEffettoId">
						<mat-header-cell *matHeaderCellDef>RiferimentoEffetto Id</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.riferimentoEffettoId}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsEffettoIva"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumnsEffettoIva;"></mat-row>

				</mat-table>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<div class="row padBot ">
	<div class="col-lg-6">
		<mat-card class="effects some-top">
			<mat-card-title>Situazione Conto</mat-card-title>
			<mat-card-content>
				<mat-table #table [dataSource]="dataSourceSituazioneConto">
					<ng-container matColumnDef="contoId">
						<mat-header-cell *matHeaderCellDef>Conto</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getContoDescription(element.contoId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="valore">
						<mat-header-cell *matHeaderCellDef>Valore</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.valore}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="variazioneFiscale">
						<mat-header-cell *matHeaderCellDef>Variazione</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.variazioneFiscale}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="sospeso">
						<mat-header-cell *matHeaderCellDef>Sospeso</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.sospeso}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsSituazioneConto"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumnsSituazioneConto;"></mat-row>
				</mat-table>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-lg-6 ">
		<mat-card class="effects some-top">
			<mat-card-title>Situazione IVA</mat-card-title>
			<mat-card-content>
				<mat-table #table [dataSource]="dataSourceSituazioneVoceIva">

					<ng-container matColumnDef="voceIvaId">
						<mat-header-cell *matHeaderCellDef>Voce IVA</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getVoceIvaDescription(element.voceIvaId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="trattamento">
						<mat-header-cell *matHeaderCellDef>Trattamento</mat-header-cell>
						<mat-cell *matCellDef="let element">{{trattamento[element.trattamento]}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="titoloInapplicabilita">
						<mat-header-cell *matHeaderCellDef>Titolo inapplicabilità</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getTitoloInapplicabilitaDescription(element.titoloInapplicabilitaId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="aliquotaIvaId">
						<mat-header-cell *matHeaderCellDef>Aliquota</mat-header-cell>
						<mat-cell *matCellDef="let element">{{getAliquotaDescription(element.aliquotaIvaId)}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="imponibile">
						<mat-header-cell *matHeaderCellDef>Imponibile</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.imponibile}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="iva">
						<mat-header-cell *matHeaderCellDef>IVA</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.iva}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="sospeso">
						<mat-header-cell *matHeaderCellDef>Sospeso</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.sospeso}}</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumnsSituazioneVoceIVA"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumnsSituazioneVoceIVA;"></mat-row>

				</mat-table>
			</mat-card-content>
		</mat-card>
	</div>

</div>

<button mat-mini-fab  (click)="openDialog()" class="padBotButton2 ">
	<mat-icon>sms_failed</mat-icon>
</button>
<button mat-mini-fab  (click)="toggleSync()" [ngClass]="{'no-sync': !(isSync$ | async)}" class="padBotButton ">
	<mat-icon *ngIf="(isSync$ | async) && isValidDocumentValue">sync</mat-icon>
	<mat-icon *ngIf="!(isSync$ | async)">sync_disabled</mat-icon>
	<mat-icon *ngIf="(isSync$ | async) && !isValidDocumentValue">sync_problem</mat-icon>
</button>
<button mat-mini-fab  (click)="goBackToDashboard()" >
	<mat-icon>navigate_before</mat-icon>
</button>
<button mat-fab (click)="saveDocument()">
	<mat-icon>save</mat-icon>
</button>
{{documentoEffetti$ | async | json}}