.hLimit{
    max-height: 40px;
    overflow:auto;
}
.alIcon{
    max-width: 40px;
}
.max-column-width-id{
    max-width: 4rem;
}
.max-column-width-descrizione{
    max-width: 20rem;
}
.tableFeed{
    margin-left: 10px;
}
