/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    font-family: 'Roboto';
    background: #efefef;
}

.some-top {
    margin-top: 1rem;
}

button {
    outline: none !important;

    &[mat-fab] {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
    }
}

.mat-mini-fab.mat-accent {
    position: fixed;
    bottom: 6rem;
    right: 2.5rem;
    outline: none;

    &.notEnabled {
        color: rgba(0, 0, 0, 0.38);
        background-color: rgba(0, 0, 0, 0.12);
        border-bottom-color: rgba(0, 0, 0, 0.38)
    }
}

mat-table.mat-table {
    max-height: none !important;
}