.navBar{
    background-color: #3F51B5; 
    min-height: 50px;
    padding: 0px;
}
.navButton{
    margin-left: 10px;
    margin-top: 6px;
    color: white;
    border-color: white;
}
a { color: inherit; } 