.navBar{
    background-color: #FF4081; 
    min-height: 50px;
}
.prova{
    padding-left: 0px;
}
.navButton{
    margin-left: 10px;
    margin-top: 6px;
    color: white;
    border-color: white;
}
a { color: inherit; } 